html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color:white; /* edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* hamburger icon */
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* X/close icon */
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav-collapse li {
  display: block;
}

.js .nav-collapse {
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

.nav-collapse.opened {
  max-height: 9999px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color:#ff5858;
  flex-wrap: wrap;
  color:white;
}

header {
  z-index: 3;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: black;
}

.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
}

.nav-collapse a {
  text-decoration: none;
  padding: 0.7em 1em;
  color: white;
  width: 100%;
  display: block;
}

.nav-collapse ul ul a {
  padding-left: 2em;
}

h1{
  clear:both;
  font-size:20px;

}

h2{
  padding-top:20px;
}

h4{
  text-align:left;
}
.welcome-area{
text-align:center;
width:95%;
}

.greeting{
  box-shadow: 5px 5px 5px 5px whitesmoke;

}

.submit-container button{
    color:white;
    background-color:#ff5858;
    width:73%;
    border: 2px #ff5858;
    border-radius:3px;
    margin-bottom:30px;
    padding:10px 0px 10px 0px;
    background-image: linear-gradient(to right,rgb(255, 0, 43),#FF5858,#FF9090,#FFC8C8); 
}

.submit-container button:hover {
  background-image:none;
  background-color:#FF9090;
  animation: gradient-to-normal 4s linear 1;
  transition: background 0.5s linear;
}



#Learn-more{
  margin-bottom:20px;
  color:white;
  background-color:#ff5858;
  padding:6px 20px 6px 20px;
  border:solid #ff5858;
  border-radius: 10px;
  width:140px;
  background-image:none;
  
}

#Learn-more:hover{
  background-color:#FF9090;
  transition: background 0.5s linear;
  border:#FF9090;
}
.contact-container{
  margin-top:30px;
  background-color:white;
  box-shadow: 5px 5px 5px 5px whitesmoke;
}

img{
    width:92%;
    object-fit:cover;
    margin-bottom:10px;
    padding:10px 10px 5px 5px;
    animation:none;

}

@keyframes pulse{
	0% {
		transform: scale(1,1);
	}

	50% {
		transform: scale(1.5,1);
	}

	100% {
		transform: scale(1,1);
	}
}

img:hover{
	animation:pulse 1s linear 0.7s;
}

.images-area{
  box-shadow: 5px 5px 5px 5px whitesmoke;

}
	
input[type=text], input[type=email] {
  width:70%;
  margin:20px;
  padding:10px;
  border: solid black;
}

input[type=text]:hover, input[type=email]:hover {
  border:solid #ff5858;
}


footer{
  background-color:#ff5858;
  padding:10px;
  color:white;
}

.nav-collapse li a:hover{
  text-decoration:underline;

}

label.custom_label{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr
}


@media screen and (min-width: 768px) {
  .nav-collapse ul {
  flex-direction: row;
  align-items: flex-end;
}
  
  .nav-collapse li {
    width: auto;
  }

  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  
h1{
  clear:both;
  font-size:20px;
}

.welcome-area{
  display:flex;
  width:100%;
}
.greeting{
  width:30%;
  display:inline-block;
  margin-right:30px;
  margin-left:50px;
}

.contact-container{
  width:55%;
  display:inline-block;
  margin:0;
}

img{
  width:20%;
  padding:15px;
}

.images-area{
  display:flex;
  justify-content:center;
}

.motivation-img{
  display:inline-block;
}

.inspiration-img{
  display:inline-block;
}

.sign-img{
  display:inline-block;
}
}
